/* .App {
  text-align: center;
} */

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
}

.cards-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
}

.card {
  width: 275px;
  border: 1px solid red;
  margin: 0 auto;
  border-radius: 3px;
}

.screenshot {
  width: 50%;
  height: 125px;
  border: 1px solid blue;
  border-radius: 3px;
  margin: 4px;
}

.name-author {
  width: 50%;
  height: 125px;
  border: 1px solid green;
  border-radius: 3px;
  margin: 4px;
}

.card-top {
  display: flex;
}
