/* .App {
  text-align: center;
} */

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
}

.cards-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
  grid-gap: 10px;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  background-color: slategray;
  padding: 25px;
  border-radius: 3px;
}

/* .card * {
  margin: 
} */

.screenshot {
  border-radius: 3px;
  margin: 4px;
  height: 250px;
  background-size: cover;
  overflow: none;
}

/* .card-top {
  display: flex;
} */
